@import "tailwindcss";

@theme {
  --color-background: #141414;
	--color-fullwave: #09617e;
}

html, body {
	overflow-x: hidden;
}

.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-700 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
